.Compare {
  margin-top: 100px;
  width: 100vw;
  height: 100vh;
}

.Compare-SideBySide {
  display: flex;
  flex-direction: row;
}

.Compare-Header,
.Compare-SideBySide-Item-PrimaryKey {
  font-weight: bold;
}

.Compare-Header div {
  min-width: 200px !important;
  min-height: 50px;
}

.Compare-SideBySide-Item {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  min-height: 50px;
  align-items: center;
}

.Compare-SideBySide-Item > * {
  min-width: 100px;
  min-height: 50px;
  border: 1px solid gray;
}

.Compare-SideBySide-flag {
  max-width: 75px;
  min-width: 75px;
  max-height: 48px;
  min-height: 48px;
}
